<?xml version="1.0"?>

<!DOCTYPE module PUBLIC
      "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
      "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<!-- Created from https://wiki.jasig.org/display/UPM40/Code+Style+and+Conventions -->
<module name="Checker">
  <property name="severity" value="error"/>

  <!-- Always use UTF-8. -->
  <property name="charset" value="UTF-8"/>

  <!-- Always use 4 space indents and never use tabs! -->
  <module name="FileTabCharacter"/>

  <module name="TreeWalker">
    <!-- Always use 4 space indents and never use tabs! -->
    <module name="Indentation"/>

    <!-- Constants (i.e. static final members) values should always be in upper case. -->
    <module name="ConstantName"/>

    <!-- Prefer using final modifier on all member variables and arguments. -->
    <module name="FinalLocalVariable"/>

    <!-- Document public interfaces well, i.e. all non-trivial public and protected functions should include Javadoc that indicates what it does. -->
    <module name="JavadocMethod">
      <property name="severity" value="${optionalSeverity}"/>
      <property name="scope" value="protected"/>
    </module>

    <!-- The following order should be used for imports:
      import static
      blank
      import java.*
      blank
      import javax.*
      blank
      import all others
    -->
    <module name="CustomImportOrder">
      <property name="standardPackageRegExp" value="^java\."/>
      <property name="specialImportsRegExp" value="^javax\."/>
      <property name="customImportOrderRules" value="STATIC###STANDARD_JAVA_PACKAGE###SPECIAL_IMPORTS###THIRD_PARTY_PACKAGE"/>
    </module>

    <!-- Do not use the keywords if, while, do, for, or switch without braces indicating the block of code that goes along with the keyword. -->
    <module name="NeedBraces"/>

    <!-- Putting one statement on each line also makes using an debugger much easier as you can inspect the value of each variable before it is used in the next statement. -->
    <module name="OneStatementPerLine"/>
  </module>
</module>
